root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript/TypeScript specific settings
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size =  4
quote_type = single

# JSON specific settings
[*.json]
indent_style = space
indent_size =  4

# Markdown specific settings
[*.md]
trim_trailing_whitespace = false
max_line_length = 80